name: "Lab YAML file"

on:
  push:
    branches: ["main"]
    tags: ["v*"]
  pull_request:
    branches: ["main"]

jobs:
  linux:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - uses: actions/checkout@v4

      - name: Install Boost
        run: sudo apt-get install libboost-test-dev -y

      - name: Configure CMake
        run: cmake -B build

      - name: Build Project
        run: cmake --build build

      - name: Run Tests
        run: ctest --test-dir build

      - name: Package Project
        run: cmake --build build --target package

      - name: Upload Ubuntu artifact
        uses: actions/upload-artifact@v4
        with:
          name: ubuntu-package
          path: build/*.deb

  macos:
    runs-on: macos-latest
    permissions: write-all
    steps:
      - uses: actions/checkout@v4

      - name: Install Boost
        run: brew install boost

      - name: Configure CMake
        run: cmake -B build

      - name: Build Project
        run: cmake --build build

      - name: Run Tests
        run: ctest --test-dir build

      - name: Package Project
        run: cmake --build build --target package

      - name: Upload macOS artifact
        uses: actions/upload-artifact@v4
        with:
          name: macos-package
          path: build/*.tar.gz

  release:
    if: startsWith(github.ref, 'refs/tags/')
    needs: [linux, macos]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: ubuntu-package
          path: release/

      - uses: actions/download-artifact@v4
        with:
          name: macos-package
          path: release/

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          name: "v${{ github.ref_name }}"
          tag_name: ${{ github.ref_name }}
          body: "Release for Linux and macOS"
          files: release/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}